<!--
    Form for the error
    @copyright (C) 2013 by OKFN Belgium
    @license AGPLv3
    @author Leen De Baets
    @author Jeppe Knockaert
    @author Nicolas Dierck
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Error!</title>
        {{ include('header.twig') }}
    </head>
    <body>
        {{ include('navbar.twig') }}
        <div class="container">
            {{ error }}
            {{ include('footer.twig') }}
        </div>
    </body>
</html>