<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">The DataTank</a>
    <ul class="nav">
      <li><a href="../package">Resource Management</a></li>
      <li><a href="../users">User Management</a></li>
      <li><a href="../routes">Route Management</a></li>
    </ul>
  </div>
</div>