<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">The DataTank</a>
    <ul class="nav">
      <li><a href="../packagesAndResources.php/package">Resource Management</a></li>
      <li><a href="../userlist.php/users">User Management</a></li>
      <li><a href="../routelist.php/routes">Route Management</a></li>
    </ul>
  </div>
</div>