html,body{
	height: 100%;
}

body {
  background-color: #F5F4EE;
  font-family: 'Oswald', sans-serif;
  
}

.wrapper {
	height: 100%;
	margin-bottom: -50px;
}

.container {
	width:960px;
	margin: 0 auto;
	padding-top: 120px;
	padding-left: 40px;
	
}

.navbar .brand {
	padding:15px 0 15px 0;
}

.navbar {
	font-size: 1.25em;
	background-color: #EBEAE4;
	padding-left: 20px;
	display: table;
	content: "";
	width: 100%;
	box-shadow: 0px 0px 10px #999999;
	position: fixed;
	z-index: 10;
}

.navcontent {
	width:960px;
	margin: 0 auto;
}

.navbar .nav>li>a {
	color: #328D81;
	padding: 10px 15px 10px;
	text-shadow:none;
	margin-top: 7px;
}

.navbar .nav>li>a.activemenuitem {
	color: #FF2C4C;
}

.navbar .nav>li>a:hover{
	color: #FF2C4C;
}

.navbar .nav {
	float: right;
	margin: 17px 0 0 0;
}

h1 {
	font-weight: 400;
  	font-size: 2.2em;
  	color: #328D81;
  	text-align: center;
  	margin-bottom: 40px;
}

h2 {
	color: #328D81;
  font-size: 1.8em;
  font-weight: 300;
  border-bottom: 2px solid #328D81;
}

h3 {
	font-weight: 600;
	font-size: 1.4em;
	color: #328D81;
	margin: 0;
}

li {
	list-style: none;
}

.buttons {
	margin-top: -30px;
	float: right;
}

.useritem {
	margin-bottom: 50px;
}

.routes {
	font-family: 'Open Sans', sans-serif;	
	margin-top: 10px;
	margin-left: 30px;
}

.block{
	margin-bottom: 30px;
}

.add {
	background-color: #328D81;
  border-radius: 8px;
  -moz-border-radius: 8px;
  font-size: 1.2em;
  color: #F5F4EE;
  font-weight: 300;
  padding:5px 10px;
  background-image: none;
  text-shadow:none;
  border:none;
  float: right;
  margin-top: -70px;
}

.add:hover {
  background-color: #FF2C4C;
  color: #F5F4EE;
  text-decoration: none;
}


.ul {
	margin: 0;
}

h4 {
	font-size: 1em;
	width:100px;
	margin:0 0 5px 0;

}

form {
	margin-bottom: 0;
}

.routedoc li > * {
	display: inline-block;
	*display: inline;
	zoom: 1;
}

ul {
	margin-left: 0;
}

#remuser {
	margin-top: -45px;
}

#rempack {
	margin-top: -45px;
}

.routelist {
	margin-left: 70px;
	margin-top: -24px;
}

#remres {
	margin-top: -20px;
}

#resources {
	z-index: 1;
}

#view {
	margin-top: 5px;
	float: none;
}

#butview {
	margin-left: 50px;
	margin-top: -25px;
	float: none;
	margin-bottom: 30px;
}

.formtitle {
	font-family: 'Open Sans', sans-serif;	
	margin-top: 10px;
}

.btnview {
	background-color: #EBEAE4;
	border-radius: 5px;
	-moz-border-radius: 8px;
	font-size: 0.8em;
  	font-family: 'Open Sans', sans-serif;
  	color: #328D81;
  	font-weight: 300;
  	padding:0px 7px;
  	background-image: none;
  	text-shadow:none;
  	border:none;
}

.btnview:hover {
	background-color: #FF2C4C;
	color: #F5F4EE;
}


.push {
	height: 50px;
}

.footer {
	font-family: 'Open Sans', sans-serif;
	/*color: #328D81;*/
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: 0.8em;
}

.link {
	color: #328D81;
}

.link:hover {
	color:#FF2C4C;
	text-decoration: none;
}
.popover{
	max-width: 500px;
}

.requiredfield{
	color: red;
}

.modal-body{
	font-family: 'Oswald', sans-serif;
}

.documentation{
	font-style: italic;
}