@import 'bootstrap';

$green: #328d81;
$beige: #F5F4EE;
$darker-beige: #EBEAE4;
$highlight: #FF2C4C;

$header-height: 60px;
$footer-height: 60px;

html, body{
    height: 100%;
}

body {
    background-color: $beige;
    font-family: 'Open Sans', 'Oswald', sans-serif;
    padding-top: $header-height + 25;
}

.wrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -$footer-height;
}

.navbar {
    background-color: $green;
    box-shadow: 0px 0px 10px #999999;
    height: $header-height;
    font-weight: 400;

    .navbar-brand{
        padding-top: 0px;
        padding-bottom: 0px;

        img{
            width: $header-height - 10;
            height: $header-height - 10;
            margin: 5px 0px;
        }
    }

    ul.nav{
        li{
            a{
                padding: 0px 20px;
                height: $header-height;
                line-height: $header-height;
                color: #fff;

                &:focus, &:hover{
                    color: #fff;
                    background-color: lighten($green, 5%);
                }
            }

            &.active{
                a{
                    background-color: lighten($green, 10%);

                    &:focus, &:hover{
                        background-color: lighten($green, 10%);
                    }
                }
            }
        }
    }
}

.btn{
    background-color: rgba(255 , 255, 255, 0.8);
    border: 1px solid darken($beige, 10%);
    border-radius: 2px;
    color: #333;

    &:focus, &:hover{
        color: #333;
        background-color: $darker-beige;
    }

    &.btn-primary{
        background-color: $green;
        color: #fff;
        border: 1px solid darken($green, 7%);

        &:focus, &:hover{
            background-color: $highlight;
        border: 1px solid darken($highlight, 7%);
        }
    }
}

a{
    color: $green;
    outline: none !important;

    &:focus, &:hover{
        text-decoration: none;
        color: $highlight;
        outline: none !important;
    }
}

button:focus{
    outline: none !important;
}

.well{
    border: 1px solid darken($beige, 10%);
    background: rgba(255,255,255, 0.3);
    box-shadow: none;
}


footer{
    height: $footer-height;
    width: 100%;
    background-color: $darker-beige;
    line-height: $footer-height;
    font-size: 11px;
    color: #333;
}

.push{
    height: $footer-height;
    width: 100%;
}


h1 {
    font-weight: 400;
    font-size: 2.2em;
    color: darken($green, 10%);
    margin-bottom: 40px;
}

h2 {
    color: $green;
    font-size: 1.8em;
    font-weight: 300;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

h2 + .well{
    border-top: 2px solid $green !important;
}

h3 {
    font-weight: 300;
    font-size: 1.3em;
    color: $green;
    margin: 0;
}

h4 {
    font-size: 1em;
    width:100px;
    margin:0;
    display: inline;
}


.ul {
    margin: 0 auto;
}

li {
    list-style: none;
}

strong{
    font-weight: 500;
}

.buttons {
    float: right;
}

.popover{
    max-width: 500px;
    border-radius: 3px;
    box-shadow: none;
    color: #fff;
    background-color: $green;
    font-weight: 100;
    border-color: transparent;

    .arrow{
        border-color: transparent !important;
    }

    &.right .arrow:after{
        border-right-color: $green;
    }
}

.add {
    float: right;
    margin-top: -75px;
}

.routes{
    h3{
        margin-top: 20px;
        margin-bottom: 10px;

        &:first-child{
            margin-top: 0px;
        }
    }

    li{
        padding-bottom: 5px;
    }
}

input[type=text], input[type=password], textarea{
    border: 1px solid darken($beige, 10%) !important;
    background: rgba(255,255,255, 0.3) !important;
    padding: 5px 8px;

    font-family: 'Open Sans';

    box-shadow: none !important;

    outline: none !important;
    outline-width: 0px !important;

    &:focus{
        border-bottom: 1px solid $green !important;
    }
}

textarea{
    resize: vertical;
}

// form {
//     margin-bottom: 0;
// }

// #remuser {
//     margin-top: -45px;
// }

// #rempack {
//     margin-top: -45px;
// }

// .routelist {
//     margin-left: 70px;
//     margin-top: -20px;
// }

// #remres {
//     margin-bottom: 6px;
//     float: none;
//     margin-top: -21px;
// }

// #resources {
//     z-index: 1;
// }

// #view {
//     margin-top: 5px;
//     float: none;
// }

// #butview {
//     margin-left: 50px;
//     margin-top: -20px;
//     float: none;
//     margin-bottom: 30px;
// }

// .formtitle {
//     font-family: 'Open Sans', sans-serif;
//     margin-top: 10px;
//     float: left;
//     margin-right: 30px;
//     line-height: 6px;
//     width: 220px;
//     text-align: right;
// }

// .btnview {
//     background-color: #EBEAE4;
//     border-radius: 5px;
//     -moz-border-radius: 8px;
//     font-size: 0.8em;
//     font-family: 'Open Sans', sans-serif;
//     color: $green;
//     font-weight: 300;
//     padding:0px 7px;
//     background-image: none;
//     text-shadow:none;
//     border:none;
// }

// .btnother {
//     background-color: $green;
//     border-radius: 8px;
//     -moz-border-radius: 8px;
//     font-family: 'Oswald', sans-serif;
//     font-size: 1.2em;
//     color: #F5F4EE;
//     font-weight: 300;
//     padding:5px 10px;
//     background-image: none;
//     text-shadow:none;
//     border:none;
//     margin: 10px 5px 0 0;
// }

// .btnother:hover {
//     background-color: #FF2C4C;
// }

// .btnmapping {
//     background-color: $green;
//     border-radius: 8px;
//     -moz-border-radius: 8px;
//     font-family: 'Oswald', sans-serif;
//     font-size: 1.2em;
//     color: #F5F4EE;
//     font-weight: 300;
//     padding:5px 10px;
//     background-image: none;
//     text-shadow:none;
//     border:none;
//     margin: 10px 5px 20px 0;
// }

// .btnview:hover {
//     background-color: #FF2C4C;
//     color: #F5F4EE;
// }

// #remroute {
//     margin-bottom: 10px;
//     float: none;
// }

// #routetitle {
//     padding-left: 80px;
// }

// .link {
//     color: $green;
// }

// .link:hover {
//     color:#FF2C4C;
//     text-decoration: none;
// }

// .requiredfield{
//     color: red;
// }

// .doc {
//     margin: -20px 0 0 120px
// }

// .formtitlelist {
//     margin-left: 250px;
// }

// .docroute {
//     margin-bottom: 10px;
// }

.btnrem:hover {
    background-image: url('../img/removered.png');
}

.btnrem {
    background-image: url('../img/remove.png');
    background-size: 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-color: #F5F4EE;
    text-shadow:none;
    border:none;
    box-shadow: none;
    padding: none;
    display: inline-block;
}

.btnedit:hover {
    background-image: url('../img/editred.png');
}

.btnedit {
    background-image: url('../img/edit.png');
    background-size: 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-color: #F5F4EE;
    text-shadow:none;
    border:none;
    box-shadow: none;
    padding: none;
    display: inline-block;
}

.infoimg {
    background-image: url('../img/info.png');
    background-size: 17px;
    background-position: left bottom;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    text-shadow:none;
    border:none;
    box-shadow: none;
    padding: none;
    background-color: #F5F4EE;
    margin-left: 3px;

}

@media(max-width:768px){

    body{
        padding-top: 0px;
    }

    .navbar {
        position: relative;
        height: auto;
        padding: 0px;

        .nav{
            margin: 0px;

            a{
                border-radius: 0px;
            }
        }
    }

    .wrapper{
        padding: 0px 15px;
    }

    h1{
        font-size: 1.6em;
    }

    .add {
        margin-top: -70px;
    }
}

.panel{
    .panel-heading{
        background-color: $green;
        color: white;
    }
}

.alert{
    padding: 15px 15px 15px 15px;
}

@media (min-width: 768px){
    .row.nopadding{
        .form-group > div:first-child{
            padding-right: 0px;
        }
    }
}

.tab-content{
    background: #fff;
    padding: 15px;
    padding-bottom: 0px;
    border: 1px solid #ddd;
    border-top: 0px none;

}

.form-group{
    margin-left: 0px !important;
    margin-right: 0px !important;
}